name: Docker Image CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push multi-arch Docker image
      run: |
        IMAGE_NAME="ghcr.io/sven12345re/my-image"
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          -t $IMAGE_NAME:latest \
          -t $IMAGE_NAME:${{ github.sha }} \
          --push .

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: SSH and deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            cd srv/mainpage # passe diesen Pfad an dein Compose-Verzeichnis an
            docker compose pull
            docker compose up -d
            docker image prune -f
